<%= render 'home/nav' %>

<%= render 'shared/about' %>

<%= render 'home/services' %>

<%= render 'home/call-to-action' %>

<%= render 'home/gallery' %>

  <!-- Team Section -->
  <!-- <section class="page-section bg-light" id="team">
    <div class="container text-center wow fadeIn">
      <h2>Team</h2>
      <p class="mb-0">We are a group of fashion experts with a passion for setting new trends.</p>
      <hr class="colored">
      <div class="team-carousel owl-carousel owl-theme mt-4"> -->


        <!-- Team Carousel Item 1 -->
        <!-- <div class="item">
          <div class="overlay"></div>
            <%= image_tag "profile_pic.png", width: 300,
            alt: "Profile Image", class: 'img-fluid' %>

          <div class="team-caption">
            <h3>Sergio Aravena</h3>
            <hr class="colored">
            <em>Founder</em>
            <ul class="list-inline list-team-social">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-envelope-o fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->
